/* .Modal {
    position: absolute;
    top: 100px;
    left: 80px;
    right: 80px;
    bottom: 100px;
    background-color: papayawhip;
  }

  .Overlay {
    position: fixed;
    
  } */

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .modal-backdrop
{
    opacity:0.5 !important;
}

  .Update-State-Btn {
    /* background-color: cornflowerblue !important; */
    width: 50%;
    position: absolute;
    margin-top: 10%;
    margin-left: 12%;
    position: inherit;
    width: 100%;
  }

  .table {
    border-collapse: separate;
    border-spacing: 0 15px;
  }

  .th {
    background-color: #4287f5;
    color: white;
  }

  .th,td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }

  .view-btn {
    height: 80px;
    width: 200px;
    margin-top: 200px;
    margin-left: 500px;
  }

